<header>
    <div class="container-fluid d-flex justify-content-between  border-bottom d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="logo-container">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0  text-decoration-none" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/img/logo-blumer-color-horizontal.png" class="bi me-2" width="139px" height="30.43px" role="img" aria-label="Icon Blumer">
            </a>
        </div>

        <div class=" d-flex topbar-account">
            <div class=" me-3 py-1">
                <h6 class="label-email-account">anuncios@blackhost.com</h6>
            </div>

            <!--      <div class="dropdown text-end">

                <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
                    <span class="profile-image-label">Blackhost SAS</span>
                </a>
                <ul class="dropdown-menu text-small shadow text-center" aria-labelledby="dropdownUser2">
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class=""></li>
                    <li class="">
                       
                    </li>
                    <li class=" "></li>
                </ul>
            </div> -->
            <div class="dropdown text-center">
                <div class="dropdown">

                    <div id="dropdownMenuButton" data-toggle="dropdown" style="cursor: pointer;" aria-haspopup="true" aria-expanded="false">

                        <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
                        <span class="profile-image-label  dropdown-toggle">Blackhost SAS</span>
                    </div>
                    <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Cobrar</a>
                        <a class="dropdown-item" href="#">Configuración</a>
                        <a class="dropdown-item" href="#">Facturación</a>
                        <a class="dropdown-item" href="#">Cupones</a>
                        <a class="dropdown-item" href="#">Servicio al cliente</a>

                        <a class="dropdown-item logout" href="#">Cerrar sesíon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>