<header>
    <div class="container-fluid  border-bottom d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div class="logo-container">
            <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0  text-decoration-none" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="assets/img/logo-blumer-color-horizontal.png" class="bi me-2" width="139px" height="30.43px" role="img" aria-label="Icon Blumer">
            </a>
        </div>

        <div class="d-flex align-items-end topbar-account">
            <div class=" me-3 py-1">
                <h6 class="label-email-account">anuncios@blackhost.com</h6>
            </div>

            <div class="flex-shrink-0 dropdown">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
                    <span class="profile-image-label">Blackhost SAS</span>
                </a>
                <ul class="dropdown-menu text-small shadow text-center" aria-labelledby="dropdownUser2">
                    <li class="list-item"><a class="dropdown-item" href="#">Cobrar</a></li>
                    <li class="list-item"><a class="dropdown-item" href="#">Configuración</a></li>
                    <li class="list-item"><a class="dropdown-item" href="#">Facturación</a></li>
                    <li class="list-item"><a class="dropdown-item" href="#">Cupones</a></li>
                    <li class="list-item"><a class="dropdown-item" href="#">Servicio al cliente</a></li>
                    <li class="list-item">
                        <hr class="dropdown-divider">
                    </li>
                    <li class="list-item "><a class="dropdown-item logout" href="#">Cerrar sesíon</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>