<div class="container-fluid">

    <div class="d-flex mt-3">
        <div class="mr-1">
            <button class="btn btn-primary btn-search mx-3">
                       Nuevo anuncio
            </button>
        </div>
        <div class="form-group">
            <span class="fa fa-search form-control-icon"></span>
            <input type="text" class="form-control me-2" placeholder="Buscar">
        </div>
    </div>
    <table class="table">

        <tbody>
            <tr class="align-middle text-center w-auto">
                <th scope="row">
                    <img src="assets/img/Recurso 2.svg" width="16px" height="16px" class="mx-3" alt="">
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Nuevo pasta por niños</span>
                        <br>
                        <span class="subtitle-campaign">Creado el jueves, 27 de ene - 11:00am</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>Campaña: Colgate Plus White</span>
                        <br>
                        <span>Segmentacion: Padres de familia</span>
                    </div>
                </td>
                <td>
                    <span> 
                        <img src="assets/img/inactive.svg" class="pr-2" alt="">
                        <span class="campaign-status-inactive">Finalizado </span>
                    </span>
                </td>
                <td style="width: 200px !important; ">
                    <div class="mr-1">
                        <button class="btn btn-primary btn-search mx-3">
                                  Editar
                        </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="align-middle text-center w-auto">
                <th scope="row">
                    <img src="assets/img/Recurso 2.svg" width="16px" height="16px" class="mx-3" alt="">
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Nuevo pasta por niños</span>
                        <br>
                        <span class="subtitle-campaign">Creado el jueves, 27 de ene - 11:00am</span>
                    </div>
                </td>

                <td>
                    <div class="text-center ">
                        <span>Campaña: Colgate Plus White</span>
                        <br>
                        <span>Segmentacion: Padres de familia</span>
                    </div>
                </td>

                <td>
                    <span> 
                        <img src="assets/img/inactive.svg" class="pr-2" alt="">
                        <span class="campaign-status-inactive">Finalizado </span>
                    </span>
                </td>
                <td>
                    <div class="mr-1">
                        <button class="btn btn-primary btn-search mx-3">
                                  Editar
                        </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="align-middle text-center w-auto">
                <th scope="row">
                    <img src="assets/img/Recurso 2.svg" width="16px" height="16px" class="mx-3" alt="">
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Nuevo pasta por niños</span>
                        <br>
                        <span class="subtitle-campaign">Creado el jueves, 27 de ene - 11:00am</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>Campaña: Colgate Plus White</span>
                        <br>
                        <span>Segmentacion: Padres de familia</span>
                    </div>
                </td>
                <td>
                    <span> 
                        <img src="assets/img/active.svg" class="pr-2" alt="">
                        <span class="campaign-status-active">En circulación</span>
                    </span>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-primary btn-search mx-3">
                              Ver reporte
                    </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>