<div class="container-fluid">
    <div class="general-header py-4">
        <div class="d-flex justify-content-between">
            <h3>Estadísticas de los últimos 7 dias</h3>
            <div class="row">
                <div class="col">
                    <input type="date" class="form-control" placeholder="Fecha Inicial" aria-label="Fecha Inicial">
                </div>
                <div class="col">
                    <input type="date" class="form-control" placeholder="Fecha final" aria-label="Fecha final">
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="general-goals">
        <div class="d-flex  text-center justify-content-around ">

            <div class="goals" style="padding-right:7rem;">
                <span class="goal-title ">15.000</span>
                <br>
                <span class="goal-subtitle ">Alcance total</span>
            </div>

            <div class="goals " style="padding-right:7rem;">
                <span class="goal-title">720</span>
                <br>
                <span class="goal-subtitle">Interacciones</span>
            </div>

            <div class="goals " style="padding-right:7rem;">
                <span class="goal-title">11.526</span>
                <br>
                <span class="goal-subtitle">Impresiones</span>
            </div>

            <div class=" " style="padding-right:7rem;">
                <span class="goal-title">3.450</span>
                <br>
                <span class="goal-subtitle">Clicks</span>
            </div>

        </div>
    </div>

    <div class="line-chart">
        <div class="line-chart-title">
            <h3>Alcance : 15.000</h3>
        </div>
        <div class="w-100">

        </div>
    </div>
</div>