<div class="container-fluid">

    <div class="d-flex mt-3">
        <div class="mr-1">
            <button class="btn btn-primary btn-search mx-3">
                       Nueva público
            </button>
        </div>
        <div class="form-group">
            <span class="fa fa-search form-control-icon"></span>
            <input type="text" class="form-control me-2" placeholder="Buscar">
        </div>
    </div>
    <table class="table">

        <tbody>
            <tr class="align-middle text-center w-auto">
                <th scope="row">
                    <img src="assets/img/target.svg" class="mx-3 target-img" width="16px" height="16px" alt="">
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Jovenes en Barranquilla</span>
                        <br>
                        <span class="subtitle-campaign">Enlazado a (5) publicaciones <br> 
                            y unas (2campañas)</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>22.716</span>
                        <br>
                        <span>Audencia</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>Minimos</span>
                        <br>
                        <span>Aspectos</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>20%</span>
                        <br>
                        <span>Eficiencia</span>
                    </div>
                </td>
                <td style="width: 200px !important; ">
                    <div class="mr-1">
                        <button class="btn btn-primary btn-search">
                                  Ver reporte
                        </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="align-middle text-center w-auto">
                <th scope="row">
                    <img src="assets/img/target.svg" class="mx-3 target-img" width="16px" height="16px" alt="">
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Jovenes en Barranquilla</span>
                        <br>
                        <span class="subtitle-campaign">Enlazado a (5) publicaciones <br> 
                            y unas (2campañas)</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>22.716</span>
                        <br>
                        <span>Audencia</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>Minimos</span>
                        <br>
                        <span>Aspectos</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>20%</span>
                        <br>
                        <span>Eficiencia</span>
                    </div>
                </td>
                <td style="width: 200px !important; ">
                    <div class="mr-1">
                        <button class="btn btn-primary btn-search">
                                  Ver reporte
                        </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr class="align-middle text-center w-auto">
                <th scope="row">
                    <img src="assets/img/target.svg" class="mx-3 target-img" width="16px" height="16px" alt="">
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Jovenes en Barranquilla</span>
                        <br>
                        <span class="subtitle-campaign">Enlazado a (5) publicaciones <br> 
                            y unas (2campañas)</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>22.716</span>
                        <br>
                        <span>Audencia</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>Minimos</span>
                        <br>
                        <span>Aspectos</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>20%</span>
                        <br>
                        <span>Eficiencia</span>
                    </div>
                </td>
                <td style="width: 200px !important; ">
                    <div class="">
                        <button class="btn btn-primary btn-search">
                              Ver reporte
                    </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>