<div class="list-group">
    <div class="form-check">
        <h6>Tamaño de la empresa</h6>
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          1-4 empleados
        </label>
        <br>
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          6-10 empleados
        </label>
        <br>
        <input class="form-check-input" type="radio" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          11-50 empleados
        </label>
        <br>
        <input class="form-check-input" type="radio" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
          50 empleados en adelante
        </label>
    </div>
    <div class="form-check">
        <h6>Tiempo de constitución</h6>
        <input class="form-check-input" type="radio" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheck">
          Menos de un año 
        </label>
        <br>
        <input class="form-check-input" type="radio" value="" id="flexCheck">
        <label class="form-check-label" for="flexCheck">
         Entre 1 y 3 años
        </label>
        <br>
        <input class="form-check-input" type="radio" value="" id="flexCheck">
        <label class="form-check-label" for="flexCheck">
          Entre 4 y 10 años 
        </label>
        <br>
        <input class="form-check-input" type="radio" value="" id="flexCheck">
        <label class="form-check-label" for="flexCheckChecked">
          Superar a 10 años
        </label>
    </div>
</div>