<div class="container-fluid h-100">
    <div class="d-flex  ">
        <div class="main-container">
            <div class="card ">
                <div class="card-body  ">
                    <blockquote class="blockquote mb-0">
                        <div class="d-flex justify-content-between">
                            <p class="objetive-title">Tu objetivo es <b>Posicionar</b></p>
                            <a [routerLink]="['/CreateCampaign/ChooseGoal']" routerLinkActive="router-link-active" class="change-link">Cambiar</a>
                        </div>
                        <footer class="objetive-subtitle blockquote-footer">Con este objetivo lograrás recordación de tu marca en los usuarios.</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card my-2 px-4">
                <div class="header-container">
                    <div class="title-campaign  pt-4">
                        <h5>Escoge a tu público objetivo</h5>
                    </div>

                    <div class="select-campaign  ">
                        <select class="form-select" aria-label="Default select example">
                                <option selected>Escoger público guardado</option>
                                <option value="1">Chicos - campaña 1</option>
                                <option value="2">Publico mayor</option>
                                <option value="3">Comunidad LGTBIQ</option>
                              </select>
                    </div>
                    <hr style="border-top: 0.5px;">
                    <div class="place-container py-2">
                        <div class="mb-3  ">
                            <div class="select-place w-100 d-flex mb-3">
                                <label class="mr-5 form-label align-middle pt-1">Lugares</label>
                                <input class="form-control w-50" list="datalistOptions" id="exampleDataList" placeholder="Escoger país o ciudades">
                                <datalist id="datalistOptions">
                                  <option value="San Francisco">
                                  <option value="New York">
                                  <option value="Seattle">
                                  <option value="Los Angeles">
                                  <option value="Chicago">
                                </datalist>
                            </div>
                            <div class="place-selected d-flex">
                                <span class="badge bg-secondary">Barranquilla</span>
                                <span class="badge bg-secondary">Bogota</span>
                                <span class="badge bg-secondary">Medellin</span>
                            </div>

                        </div>
                    </div>
                    <hr style="border-top: 0.5px;">
                    <div class="age-container d-flex py-2">
                        <label class="mr-5 form-label align-middle pt-1">Edades</label>
                        <select class="form-select age-select form-select-lg mx-3 " aria-label=".form-select-lg example">
                            <option selected value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                          </select>
                        <select class="form-select age-select form-select-lg mx-3 " aria-label=".form-select-lg example">
                            <option selected value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                          </select>

                    </div>
                    <hr style="border-top: 0.5px;">
                    <div class="gender-container py-2">
                        <div class="btn-group d-flex  btn-group-toggle" data-toggle="buttons">
                            <label class="mr-5 form-label align-middle pt-1">Generos</label>
                            <div class=" mx-1">
                                <button id="button" class="btn btn-secondary  align-middle  ">
                                    <input class="radio-button"  type="radio" name="genders" value="All" id="option1" autocomplete="off" > 
                                   Todos
                                  </button>
                            </div>
                            <div class=" mx-1">
                                <button class="btn btn-secondary  align-middle ">
                                    <input class="radio-button" type="radio" name="genders" value="Hombres" id="option2" autocomplete="off"> 
                                    Hombres
                                  </button>
                            </div>
                            <div class=" mx-1">
                                <button class="btn btn-secondary  align-middle ">
                                    <input class="radio-button" type="radio" name="genders" value="Mujeres" id="option3" autocomplete="off"> 
                                    Mujeres
                                  </button>
                            </div>
                            <div class=" mx-1">
                                <button class="btn btn-secondary  align-middle ">
                                    <input class="radio-button" type="radio" name="genders" value="Others" id="option3" autocomplete="off"> 
                                    Otros
                                  </button>
                            </div>
                        </div>
                    </div>
                    <hr style="border-top: 0.5px;">
                    <div class="specific-data py-2">
                        <div class="select-specific-data w-100 d-flex mb-3">
                            <label class=" form-label align-middle pt-1">Datos <br> Específicos</label>
                            <div class="right-side">

                                <div class="place-selected d-flex">
                                    <span class="badge bg-secondary">Tecnología</span>
                                    <span class="badge bg-secondary">Salud</span>
                                    <span class="badge bg-secondary">1-5 empleados</span>
                                    <span class="badge bg-secondary">Entre 4 años</span>
                                </div>
                                <div class="d-flex mt-2 ">
                                    <button type="button" class="btn btn-outline-success mx-2" data-bs-toggle="modal" data-bs-target="#UsersModal">
                                        <i  class="fas fa-plus-circle" aria-hidden="true"></i>
                                        Usuarios
                                    </button>
                                    <button type="button" class="btn btn-outline-success mx-2" data-bs-toggle="modal" data-bs-target="#BusinessModal">
                                        <i _ngcontent-atc-c34="" class="fas fa-plus-circle" aria-hidden="true"></i>
                                        Empresas
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr style="border-top: 0.5px;">
                    <div class="public-name py-2">
                        <div class="d-flex">
                            <label class=" form-label align-middle pt-1">Nombre del <br> Público</label>
                            <input class="form-control mx-2" list="datalistOptions" id="exampleDataList" placeholder="Escoger nombre del público">
                            <button class="btn btn-success save-public-btn">Guardar público</button>

                        </div>
                    </div>
                    <div class="btn-container text-end my-2">
                        <a [routerLink]="['/Home/General']" class="btn btn-primary save-out mx-2 active" role="button" aria-pressed="true">Guardar y salir </a>
                        <a [routerLink]="['/CreateCampaign/AdFormat']" class="btn btn-primary mx-4 continue active" role="button" aria-pressed="true">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>


        <app-aside class="aside-container  text-wrap"></app-aside>
    </div>
</div>


<!-- ------------------------------- -->
<!-- BUSINESS MODAL -->
<div class="modal fade" id="BusinessModal" tabindex="-1" aria-labelledby="BusinessLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BusinessLabel">Datos específicos - Empresas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <div class="form-check">
                        <h6>Tamaño de la empresa</h6>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          1-4 empleados
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          6-10 empleados
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          11-50 empleados
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">
                          50 empleados en adelante
                        </label>
                    </div>
                    <div class="form-check">
                        <h6>Tiempo de constitución</h6>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheck">
                          Menos de un año 
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                        <label class="form-check-label" for="flexCheck">
                         Entre 1 y 3 años
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                        <label class="form-check-label" for="flexCheck">
                          Entre 4 y 10 años 
                        </label>
                        <br>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                        <label class="form-check-label" for="flexCheckChecked">
                          Superar a 10 años
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- ------------------------------- -->
<!-- -------USERS MODAL --------------->

<div class="modal fade  " id="UsersModal" tabindex="-1" aria-labelledby="UsersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UsersModalLabel">Datos específicos - Usuarios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group container">
                    <li class="list-group-item px-3 ">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Deportes
                    </li>
                    <li class="list-group-item px-3">
                        <input class="form-check-input me-1 " type="checkbox" value="" aria-label="..."> Salud
                    </li>
                    <li class="list-group-item px-3">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Comida
                    </li>
                    <li class="list-group-item px-3">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> Tecnología
                    </li>
                    <li class="list-group-item px-3">
                        <input class="form-check-input me-1 " type="checkbox" value="" aria-label="...">Noticias
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>