<div class="container-fluid">

    <div class="d-flex mt-3">
        <div class="mr-1">
            <button class="btn btn-primary btn-search mx-3">
                       Nueva campaña
            </button>
        </div>
        <div class="form-group">
            <span class="fa fa-search form-control-icon"></span>
            <input type="text" class="form-control me-2" placeholder="Buscar">
        </div>
    </div>
    <table class="table">

        <tbody>
            <tr class="align-middle">
                <th scope="row">
                    <i class="fas fa-folder-open mx-3"></i>
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Colgate Plus White</span>
                        <br>
                        <span class="subtitle-campaign">24/05/2021</span>
                    </div>
                </td>
                <td>
                    <span> 
                        <img src="assets/img/Revision.svg" class="pr-2" alt="">
                        <span class="campaign-status-revision">En revisión </span>
                    </span>
                </td>
                <td>
                    <div class="text-center ">
                        <span>1</span>
                        <br>
                        <span>Publicación</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>0</span>
                        <br>
                        <span>Interacciones</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>1</span>
                        <br>
                        <span>Alcance</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>0</span>
                        <br>
                        <span>Impresiones</span>
                    </div>
                </td>
                <td style="width: 200px !important; ">
                    <div class="mr-1">
                        <button class="btn btn-primary btn-search mx-3">
                                  Ver reporte
                        </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <i class="fas fa-folder-open mx-3"></i>
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Colgate Plus White</span>
                        <br>
                        <span class="subtitle-campaign">24/05/2021</span>
                    </div>
                </td>
                <td>
                    <span> 
                        <img src="assets/img/inactive.svg" class="pr-2" alt="">
                        <span class="campaign-status-inactive">Inactivo </span>
                    </span>
                </td>
                <td>
                    <div class="text-center ">
                        <span>1</span>
                        <br>
                        <span>Publicación</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>0</span>
                        <br>
                        <span>Interacciones</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>1</span>
                        <br>
                        <span>Alcance</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>0</span>
                        <br>
                        <span>Impresiones</span>
                    </div>
                </td>
                <td>
                    <div class="mr-1">
                        <button class="btn btn-primary btn-search mx-3">
                                  Ver reporte
                        </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">
                    <i class="fas fa-folder-open mx-3"></i>
                </th>
                <td>
                    <div class=" ">
                        <span class="title-campaign">Colgate Plus White</span>
                        <br>
                        <span class="subtitle-campaign">24/05/2021</span>
                    </div>
                </td>
                <td>
                    <span> 
                        <img src="assets/img/active.svg" class="pr-2" alt="">
                        <span class="campaign-status-active">Activo </span>
                    </span>
                </td>
                <td>
                    <div class="text-center ">
                        <span>1</span>
                        <br>
                        <span>Publicación</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>0</span>
                        <br>
                        <span>Interacciones</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>1</span>
                        <br>
                        <span>Alcance</span>
                    </div>
                </td>
                <td>
                    <div class="text-center ">
                        <span>0</span>
                        <br>
                        <span>Impresiones</span>
                    </div>
                </td>
                <td class="">
                    <div class="">
                        <button class="btn btn-primary btn-search mx-3">
                              Ver reporte
                    </button>
                    </div>
                </td>
                <td class="w-auto">
                    <div class="dropdown">
                        <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item text-center" href="#">Modificar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Duplicar</a></li>
                            <li><a class="dropdown-item text-center" href="#">Eliminar</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>