.bg-main {
    background-color: #EBEBEB;
    right: 0;
    left: 0;
    bottom: 0;
}

.contenedor-main {
    height: 100%;
    background-color: #EBEBEB;
    right: 0;
    left: 0;
    position: absolute;
}