<div class="container-fluid h-100">
    <div class="d-flex  ">
        <div class="main-container">
            <div class="card mb-2">
                <div class="card-body  ">
                    <blockquote class="blockquote mb-0">
                        <div class="d-flex justify-content-between">
                            <p class="objetive-title">Tu objetivo es <b>Posicionar</b></p>
                            <a [routerLink]="['/CreateCampaign/ChooseGoal']" routerLinkActive="router-link-active" class="change-link">Cambiar</a>
                        </div>
                        <footer class="objetive-subtitle blockquote-footer">Con este objetivo lograrás recordación de tu marca en los usuarios.</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body ">
                    <blockquote class="blockquote mb-0">
                        <div class="d-flex justify-content-between">
                            <p class="objetive-title">Tu público objetivo es <b>Nombre del publico guardado</b></p>
                            <a [routerLink]="['/CreateCampaign/Public']" class="change-link">Cambiar</a>
                        </div>
                        <footer class="objetive-subtitle blockquote-footer">Con esta seleccion abarcarás unas 180.000</footer>
                    </blockquote>
                </div>
            </div>
            <div class="card mb-2">
                <div class="card-body ">
                    <blockquote class="blockquote mb-0">
                        <div class="d-flex justify-content-between">
                            <p class="objetive-title">Formato de anuncio</p>
                            <a [routerLink]="['/CreateCampaign/AdFormat']" class="change-link">Cambiar</a>
                        </div>
                        <footer class="objetive-subtitle blockquote-footer">Haz seleccionado formato de una <b>Tipo de anuncio</b></footer>
                    </blockquote>
                </div>
            </div>
            <div class="card my-2 px-4">
                <div class="header-container">
                    <div class="title-campaign  pt-4">
                        <h5>Horarios de publicación</h5>
                    </div>
                    <hr style="border-top: 0.5px;">
                    <div class="place-container py-2">
                        <div class="mb-3  ">
                            <div class="select-place w-100 d-flex mb-3">
                                <label class="mr-5 form-label align-middle pt-1">Dias de la semana</label>
                                <input class="form-control w-50" list="datalistOptions" id="exampleDataList" placeholder="Escoger país o ciudades">
                                <datalist id="datalistOptions">
                          <option value="Lunes">
                          <option value="Martes">
                          <option value="Miercoles">
                          <option value="Jueves">
                          <option value="Viernes">
                          <option value="Sabado">
                          <option value="Domingo">
                        </datalist>
                            </div>
                            <div class="place-selected d-flex">
                                <span class="badge bg-secondary">Lunes</span>
                                <span class="badge bg-secondary">Miercoles</span>
                                <span class="badge bg-secondary">Viernes</span>
                            </div>

                        </div>
                    </div>
                    <hr style="border-top: 0.5px;">
                    <div class="date-container d-flex py-2">
                        <label class="mr-5 form-label align-middle pt-1">Horario</label>
                        <div class="mx-2">
                            <input type="time" id="inputMDEx1" class="form-control">
                            <label for="inputMDEx1">Selecciona una hora</label>
                        </div>
                        <div class="mx-2">
                            <input type="time" id="inputMDEx1" class="form-control">
                            <label for="inputMDEx1">Selecciona una hora</label>
                        </div>
                    </div>
                    <div class="btn-container text-end my-2">
                        <a [routerLink]="['/Home/General']" class="btn btn-primary save-out mx-2 active" role="button" aria-pressed="true">Guardar y salir </a>
                        <a [routerLink]="['/CreateCampaign/Budget']" class="btn btn-primary mx-4 continue active" role="button" aria-pressed="true">Siguiente</a>
                    </div>
                </div>
            </div>
        </div>

        <app-aside class="aside-container"></app-aside>
    </div>
</div>