<div class="list-group">
    <div class="pleasures-list d-flex text-wrap">
        <div class="pleasure-item">
            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary py-1 rounded-pill" for="option2">Deportes</label>
        </div>
        <div class="pleasure-item">
            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary py-1 rounded-pill" for="option2">Salud</label>
        </div>
        <div class="pleasure-item">
            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary py-1 rounded-pill" for="option2">Comida</label>
        </div>
        <div class="pleasure-item">
            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary py-1 rounded-pill" for="option2">Noticias</label>
        </div>
        <div class="pleasure-item">
            <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
            <label class="btn btn-secondary py-1 rounded-pill" for="option2">Carros eléctricos</label>
        </div>

    </div>
</div>